<!DOCTYPE html>
<html>
<head>
    <title>Amity Event Booking</title>
</head>
<body>

<h2>Campus Booking Map</h2>

<label>Date:</label>
<input type="date" id="date">

<label>Slot:</label>
<select id="slot">
    <option value="1">9:00 - 10:30</option>
    <option value="2">10:30 - 12:00</option>
    <option value="3">12:00 - 1:30</option>
    <option value="4">1:30 - 3:00</option>
    <option value="5">3:00 - 4:30</option>
</select>

<button onclick="loadAvailability()">Check</button>

<hr>

<div id="map">
    <button onclick="book('loc_auditorium')">Auditorium</button>
    <button onclick="book('loc_seminar_hall_2')">Seminar Hall 2</button>
    <button onclick="book('loc_mdp_room')">MDP Room</button>
</div>

<script src="/static/script.js"></script>

</body>
</html>
